<template>
  <div id="app">
    
  </div>
</template>

<script>
// import HelloWorld from './components/HelloWorld.vue'
import './styles/styles.scss'
export default {
  name: 'App',
  components: {
    
  }
}
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // text-align: center;
  // color: #2c3e50;
  // margin-top: 60px;
}
</style>
